* {
    box-sizing: border-box;
}

.details,
.detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.items {
    min-width: 48%;
    border-bottom: 1px dotted #d1d1d1;
    display: flex;
    padding: 20px 20px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1px;
}