<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Get Certified</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body data-spy="scroll" data-target="#myScrollspy">
    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="205" style="height: 1.3cm;vertical-align: middle;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#"><i class="fas fa-file-certificate"></i>OCCUPAY</a>                </div>
        </div>
    </nav>
    <header style="background-image:url('https://i.pinimg.com/originals/96/f6/83/96f6838066e5d1a3d3469a8d71982233.gif');">
        <div class="header-content">
            <div class="header-content-inner">
            </div>
        </div>
    </header>
    <section class="about-section " style="background-color:rgb(74, 75, 70)" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3>About Us</h3>
                    <div class="about_us">
  
                        <div class="mission">
                          
                          <p>Welcome to OccuPay!</p>
                             <p> OccuPay is platform where you can  buy/sell/rent a house online.</p>
                             <p>   And tenants, happy hunting and get in touch with us to let us know how else we can help! </p>
                        </div>
                        
                        </div>
                    
                    <a href="/access" class="btn btn-default-new">Get Started!</a> </div>
            </div>
        </div>
    </section>




    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <h3>Let's Get In Touch!</h3>
                    
                        <p><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Telangana</span></i></p>
                    <br>
                        <p><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">63020 40714</a></span></i></p>
                        <br>
                        <p  style="text-align:right"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">Vorugantipranay@gmail.com</a></span></i></p>
                        <br>
                </div>
            </div>
        </div>

    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/home.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>