<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="">
        <section class="signup" style="margin-top:13%">
            <div class="container">

                <div style="text-align: center; margin-left: 25%;margin-right: 10%; width: 50%;">
                    <h2 class="form-title" style="text-align: center;padding-top: 10% !important">Payment Sucessfully Done !!</h2>
                    
        </section>

    </div>
</body>
<script>
    setTimeout(function(){
        location.href="/dashboard";
    },2000);
</script>
</html>