<link rel="stylesheet" href="/css/filter.css">
<section>
    <div class="main">
        <div class="sidebar" style="height: 100vh;">
            <ul>
                <!-- <li><a href="#" class="active"><i class="lni lni-home"></i><span>Dashboard</span></a></li>
                <li><a href="#"><i class="lni lni-text-format"></i><span>Form Elements</span></a></li>
                <li><a href="#"><i class="lni lni-bar-chart"></i><span>Charts</span></a></li>
                <li><a href="#"><i class="lni lni-grid"></i><span>Grid System</span></a></li>
                <li><a href="#"><i class="lni lni-bullhorn"></i><span>Notifications</span></a></li>
                <li><a href="#"><i class="lni lni-support"></i><span>Help & Support</span></a></li>
                <li> -->
                <!-- <select name="" id="" style="margin-left: 20px; width: 220px;">
                        <option value="sdsdf ">deded</option>
                        <option value="dsfsdf ">dff</option>
                        <option value="dfc ">dfrer</option>
                    </select>
                </li>
                <li><input type="text " name=" " id=" " style="margin-left: 20px; "></li> -->
                <!-- <input type="text " name=" " id=" "> -->
                <select name="select-two" class="mb-2 ui-select ui-select-base ui-select-basic" style="margin-left: 29px; height: 40px;">
                    <option value="">basic select</option> 
                    <option value="">option one</option> 
                    <option value="">option two</option> 
                    <option value="">option three</option> 
                    <option value="">option four</option> 
                  </select>
                <select name="select-two" class="mb-2 ui-select ui-select-base ui-select-basic" style="margin-left: 29px; height: 40px;">
                    <option value="">basic select</option> 
                    <option value="">option one</option> 
                    <option value="">option two</option> 
                    <option value="">option three</option> 
                    <option value="">option four</option> 
                  </select>
                <select name="select-two" class="mb-2 ui-select ui-select-base ui-select-basic" style="margin-left: 29px; height: 40px;">
                    <option value="">basic select</option> 
                    <option value="">option one</option> 
                    <option value="">option two</option> 
                    <option value="">option three</option> 
                    <option value="">option four</option> 
                    <option value="">basic select</option> 
                    <option value="">option one</option> 
                    <option value="">option two</option> 
                    <option value="">option three</option> 
                    <option value="">option four</option> 
                    <option value="">basic select</option> 
                    <option value="">option one</option> 
                    <option value="">option two</option> 
                    <option value="">option three</option> 
                    <option value="">option four</option> 
                  </select>
                <select name="select-two" class="mb-4 ui-select ui-select-base ui-select-basic" style="margin-left: 29px; height: 40px;">
                    <option value="">basic select</option> 
                    <option value="">option one</option> 
                    <option value="">option two</option> 
                    <option value="">option three</option> 
                    <option value="">option four</option> 
                  </select>
                <br>
                <button type="button" class="btn btn-outline-info" style="margin-left: 28%" |>Search</button>

            </ul>
        </div>

    </div>

</section>
<script>
</script>