<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
          <span></span>
          <span></span>
          <span></span>
        </button>
            <a href="/">
                <h4 class="pt-3">OCCU<span>PAY</span></h4>
            </a>
        </div>

        <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
                <li><a href="/wishlist">Wishlist</a></li>
                <li><a href="/acceptedhouses">Accepted Houses</a></li>
                <li><a href="/joinedhouses">Joined Houses</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><button class="btn btn-primary" onclick="logout()">Logout</></li>
            </ul>
        </div>
    </div>
</nav>
<script src="/js/navbar.js"></script>